/* div{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: 0.5s;
    transition-duration: 5s;
    transition-delay: 2s;

}

div:hover{
    border: 1px solid black;
    border-radius: 50%;
    
} */


.parent{
    /* width: 80%;
    height: 400px; */
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.parent:hover .child{
    width: 100vw;
}
 .child{
    width: 100px;
    height: 100px;
    transition-duration: 4s;
    transition-delay: 3s;
}

.child-1{
    background-color: aqua;
    transition-timing-function: linear;
}
.child-2{
    background-color: rgb(96, 34, 80);
    transition-timing-function: ease-in;
}
.child-3{
    background-color: rgb(43, 43, 102);
    transition-timing-function: ease-out;
}
.child-4{
    background-color: rgb(176, 34, 60);
    transition-timing-function: ease-in-out;
}


