/* .para{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
} */

/* relative units */
.box{
    border: 5px solid black;
    width: 90%;
}

.box > p {
    border: 3px dashed red;
    width: 50%;
}

/* ul{
    font-size: 20px;
} */

/* li{
    font-size: 2em;
} */

li{
    font-size: 2rem;
}

.para{
    background-color: red;
    width: 50vw;
    height: 60vh;
}